.Rproj.user
.Rhistory
.RData
.Ruserdata
.config
.local
.viminfo
.bash_history
.cache
# the following are related to targets, a workflow I've removed again
_targets/
_targets.R
run.R
run.sh

/.quarto/

